[run]
branch = True
source = pytransform3d
omit =
    */setup.py
    pytransform3d/plot_utils.py
    pytransform3d/editor.py
    pytransform3d/visualizer.py

[report]
omit =
    pytransform3d/plot_utils.py
    pytransform3d/editor.py
    pytransform3d/visualizer.py
exclude_lines =
    pragma: no cover
    def plot_*
    def _plot
    except ImportError:
    def write_png
