[run]
branch = True
source = pytransform3d
omit =
    */setup.py
    pytransform3d/plot_utils.py
    pytransform3d/editor.py
    pytransform3d/visualizer.py

[report]
omit =
    pytransform3d/plot_utils/*.py
    pytransform3d/editor.py
    pytransform3d/visualizer/*.py
    pytransform3d/*/_plot.py
    pytransform3d/test/*.py
exclude_lines =
    pragma: no cover
    except ImportError:
