[run]
branch = True
source = pytransform
omit =
    */setup.py
    pytransform/plot_utils.py
    pytransform/editor.py

[report]
omit =
    pytransform/plot_utils.py
    pytransform/editor.py
exclude_lines =
    pragma: no cover
    def plot_*
    def _plot
