:root {
  --pst-sidebar-width: 100px;
  --pst-secondary-sidebar-width: 100px;
}

.bd-main .bd-content .bd-article-container {
  max-width: 100%; /* Allows content to expand if sidebars are smaller */
}

.bd-page-width {
  max-width: 100%; /* Ensures the overall page uses more width */
}
